# vim: set ft=dosini nospell:

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4

[{m,M}akefile]
indent_style = tab

[{Rakefile,*.rb}]
indent_size = 2

[{*.yml,*.yaml}]
indent_size = 2

[{COMMIT_EDITMSG,*.diff,*.patch}]
trim_trailing_whitespace = false

[/setup]
indent_size = 2

[/home/.local/bin/{v,ssh-proxy-helper,reset-ssh-known-hosts,profile-zsh-startup,outdated-casks}]
indent_size = 2
