[user]
name = Xu Cheng
email = git@xuc.me
signingkey = CCE0112A1CCDE1685DBA86C4C2A3860FA0B459CE

[core]
autocrlf = input
editor = nvim
excludesfile = ~/.gitignore

[commit]
gpgsign = true
verbose = true

[push]
default = simple

[grep]
lineNumber = true

[color]
branch = auto
diff = auto
grep = auto
interactive = auto
showbranch = auto
status = auto
ui = auto

[pager]
diff = diff-highlight | less -F -X
log = diff-highlight | less -F -X
show = diff-highlight | less -F -X

[interactive]
diffFilter = diff-highlight

[difftool]
prompt = false

[diff]
tool = nvimdiff

[merge]
tool = nvimdiff

[difftool "nvimdiff"]
cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[alias]
c = commit -m
a = add
ci = commit
co = checkout
cob = checkout -b
current-branch = symbolic-ref --short HEAD
d = difftool
fix-previous = !git commit --amend --no-edit --date=\"$(date '+%Y-%m-%dT%H:%M:%S')\"
fix-up = !git commit --fixup=$(git-sha)
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
push-current-branch = !git push --set-upstream origin $(git current-branch)
ra = rebase --abort
rc = rebase --continue
ri = rebase -i origin/master
ris = rebase -i --autosquash origin/master
rpo = remote prune origin
sign = cherry-pick --signoff
ssh-instead-of-https = !git config url.git@github.com:.insteadOf https://github.com/
st = status
staged = diff --staged
sync-upstream = !CUR_BRANCH=$(git current-branch) && git checkout master && git pull upstream master && git push origin master && git checkout $CUR_BRANCH
unstage = reset HEAD --
up = !git fetch origin && git rebase origin/master
wip = !git add -u && git commit -m "wip"

