version: 2
root-markers:
  - .git/
lint-debounce: 1s

tools:
  clang-format: &clang-format
    format-command: >-
      clang-format --assume-filename=${INPUT}
    format-stdin: true

  cspell: &cspell
    lint-source: cspell
    lint-command: >-
      cspell lint \
        --config ~/.config/cspell.json
        --no-progress \
        --no-summary \
        --no-color \
        stdin://${INPUT}
    lint-stdin: true
    lint-ignore-exit-code: true
    lint-formats:
      - "%f:%l:%c - %m"
      - "%f:%l:%c %m"
    lint-severity: 4

  editorconfig-checker: &editorconfig-checker
    lint-source: editorconfig-checker
    lint-command: >-
      editorconfig-checker -format gcc -no-color -disable-indent-size ${INPUT}
    lint-on-save: true
    lint-ignore-exit-code: true
    lint-formats:
      - "%f:%l:%c: error: %m"
    lint-severity: 3
    root-markers:
      - .editorconfig

  lua-stylua: &lua-stylua
    format-command: >-
      stylua \
        --color Never \
        ${--range-start:charStart} \
        ${--range-end:charEnd} \
        -
    format-stdin: true
    format-can-range: true
    root-markers:
      - stylua.toml
      - .stylua.toml

  md-markdownlint: &md-markdownlint
    lint-source: markdownlint
    lint-command: >-
      markdownlint --stdin
    lint-stdin: true
    lint-ignore-exit-code: true
    lint-formats:
      - "%f:%l:%c MD%n/%*[^ ] %m"
      - "%f:%l MD%n/%*[^ ] %m"

  md-mdformat: &md-mdformat
    format-command: >
      mdformat --number -
    format-stdin: true

  prettier: &prettier
    format-command: >-
      prettier \
        --stdin \
        --stdin-filepath ${INPUT} \
        ${--range-start=charStart} \
        ${--range-end=charEnd} \
        ${--use-tabs:!insertSpaces} \
        ${--tab-width=tabSize}
    format-stdin: true
    format-can-range: true
    root-markers:
      - .prettierrc
      - .prettierrc.json

  sh-shfmt: &sh-shfmt
    format-command: >-
      shfmt \
        --filename ${INPUT} \
        ${--indent=tabSize} \
        --binary-next-line \
        --case-indent
    format-stdin: true

  sh-tldr: &sh-tldr
    hover-command: >-
      tldr --raw --quiet ${INPUT}
    hover-type: markdown

  terraform-fmt: &terraform-fmt
    format-command: >-
      terraform fmt -
    format-stdin: true

  tex-chktex: &tex-chktex
    lint-source: chktex
    lint-command: >-
      chktex --globalrc --quiet --format $'%f:%l:%c:%k:%n:%m\n'
    lint-stdin: true
    lint-ignore-exit-code: true
    lint-formats:
      - "%f:%l:%c:%trror:%n:%m"
      - "%f:%l:%c:%tarning:%n:%m"
      - "%f:%l:%c:%tessage:%n:%m"
    lint-category-map:
      E: E
      W: W
      M: N
    root-markers:
      - .chktexrc
      - .latexmkrc

  tex-latexindent: &tex-latexindent
    format-command: >-
      efm-latexindent ${--indent-size=tabSize} ${--use-tabs:!insertSpaces}
    format-stdin: true
    root-markers:
      - latexindent.yaml
      - .latexindent.yaml
      - .latexmkrc

languages:
  c:
    - <<: *clang-format

  cpp:
    - <<: *clang-format

  css:
    - <<: *prettier

  html:
    - <<: *prettier

  javascript:
    - <<: *prettier

  json:
    - <<: *prettier

  lua:
    - <<: *lua-stylua

  markdown:
    - <<: *md-markdownlint
    - <<: *md-mdformat

  scss:
    - <<: *prettier

  sh:
    - <<: *sh-shfmt
    - <<: *sh-tldr

  terraform:
    - <<: *terraform-fmt

  tex:
    - <<: *tex-chktex
    - <<: *tex-latexindent

  typescript:
    - <<: *prettier

  yaml:
    - <<: *prettier

  =:
    - <<: *cspell
    - <<: *editorconfig-checker
